@import "tailwindcss";

:root {
  --background: #E4E4E4;
  --foreground: #211E1E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-squada: var(--font-squada);
  --font-pixel: var(--font-pixel);

}

body {
  background: var(--background);
  color: var(--foreground);
  
}