@import "tailwindcss";

:root {
  --background: #E4E4E4;
  --foreground: #211E1E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-squada: var(--font-squadaOne);
  --font-pixel: var(--font-pixel);
  --font-mono: var(--font-mono);

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-squadaOne), system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}